.navbar {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.overflow{
  overflow: hidden;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  height: 40px;
}

.search-container {
  flex: 1;
  max-width: 400px;
}

.search {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #eee;
  background: #f9f9f9;
}

.menu {
  display: flex;
  gap: 25px;
  color: #555;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.auth {
  display: flex;
  gap: 15px;
}

.login-btn {
  background: none;
  border: none;
  color: #f04e7c; /* Màu hồng Chefify */
  font-weight: 600;
  cursor: pointer;
}

.subscribe {
  background: #f04e7c;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}